*.cs text diff=csharp
*.msbuild text
*.config text
*.conf text
*.cscfg text
*.csdef text
*.xml text
*.js text
*.css text

*.csproj text merge=union
*.fsproj text merge=union
*.sln text eol=crlf merge=union

*.jpg binary
*.png binary
*.gif binary
*.cs linguist-language=C#
