*.cs linguist-language=C#
*.cs text diff=csharp
*.msbuild text
*.config text
*.conf text
*.cscfg text
*.csdef text
*.xml text
*.css text

*.csproj text merge=union
*.fsproj text merge=union
*.sln text eol=crlf merge=union
